.product {
    display: inline-block;
    max-width: 500px;
    border: 1px solid #75E6DA;
    border-radius: 10px;
        background-color: #189AB4;
        color: white;
    margin: 10px;
    padding: 10px;

    & .category {
        font-size: smaller;
        font-style: italic;
        color: #D4F1F4;
        margin: 0;
    }
    & .price {
        color: #75E6DA;
    }
    & .title {
        margin: 0;
        color: #75E6DA;
    }

    & .button {
        border-radius: 10px;
        width: 100%;
        padding: 10px;
    }
}